
<div class="container text-center">
  <img src="/assets/images/mini.PNG" class="img-fluid mini_logo" alt="..." />

</div>

<div class="container-fluid mt-5">
  <h2>Entertainment</h2>
  <div class="row">
    <div *ngFor="let d of entertainmentNewsDispaly" class="col-lg-3 mb-4">

      <div class="box">
        <img src="{{ d.urlToImage }}" width="100%" />
        <h5 class="mt-2 mb-2">{{ d.title }}</h5>
        <p>{{ d.description }}</p>

      <a href="{{ d.url }}" target="_blank" class="btn btn-sm btn-primary"> Read More</a>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="footer-heading">NewsMa 24</h4>
          <div class="footer-underline"></div>
          <p>
            Our team of experienced journalists works tirelessly to cover a wide
            range of topics, including breaking news, politics, business,
            technology, entertainment, and more. Stay informed and engaged with
            our comprehensive articles, in-depth analysis, and captivating
            stories.
          </p>
        </div>
        <div class="col-md-4">
          <h4 class="footer-heading">Quick Links</h4>
          <div class="footer-underline"></div>
          <div class="mb-2"><a href="" class="text-white">Home</a></div>
          <div class="mb-2"><a href="" class="text-white">About Us</a></div>
          <div class="mb-2"><a href="" class="text-white">Contact Us</a></div>
          <div class="mb-2"><a href="" class="text-white">Blogs</a></div>
        </div>

        <div class="col-md-4">
          <h4 class="footer-heading">Reach Us</h4>
          <div class="footer-underline"></div>
          <div class="mb-2">
            <p>
              <i class="fa-brands fa-linkedin"></i>
              <a
                href=" https://www.linkedin.com/in/khadija-belmadani-43abb9200?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BiXeQzqwpTd2dgzo2%2FTMwaA%3D%3D"
                class="text-white"
              >
                Khadija Belmadani</a
              >
            </p>
          </div>
          <div class="mb-2">
            <a href="" class="text-white">
              <i class="fa-brands fa-github"></i> Khadija Belmadani
            </a>
          </div>
          <div class="mb-2">
            <a href="" class="text-white">
              <i class="fa fa-phone"></i> +212770335681
            </a>
          </div>
          <div class="mb-2">
            <a href="" class="text-white">
              <i class="fa fa-envelope"></i> kbelmadani906@gmail.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="text-white">
            &copy; 2023 - BELMADANI KHADIJA - All rights reserved.
          </p>
        </div>
        <div class="col-md-4">
          <div class="social-media text-white">
            Get Connected:
            <a href=""><i class="fab fa-twitter" style="color: white"></i></a>
            <a href=""><i class="fab fa-instagram" style="color: white"></i></a>
            <a href=""><i class="fab fa-youtube" style="color: white"></i></a>
            <a href=""><i class="fab fa-facebook" style="color: white"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
