@media (max-width: 600px) {
  .mini_logo {
    width: 70px;
    height: 70px;
    border-radius: 50px;
  }
}
.box {
  padding: 10px 10px;
  background-color: rgb(234, 225, 225);
}

.footer-area {
  padding: 40px 0px;
  background-color: black;
  color: #fff;
}
.footer-area a {
  text-decoration: none;
}
.footer-area .footer-heading {
  font-size: 24px;
  color: #fff;
}
.footer-area .footer-underline {
  height: 1px;
  width: 70px;
  background-color: #ddd;
  margin: 10px 0px;
}
.copyright-area {
  padding: 14px 0px;
  background-color: rgba(111, 113, 219, 0.934);
}
.copyright-area p {
  margin-bottom: 0px;
  color: black;
}
.copyright-area .social-media {
  text-align: end;
}
.copyright-area .social-media a {
  margin: 0px 10px;
  color: #fff;
  width: 20px;
}
