<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 fixed-top mb-5">
  <div class="container-fluid">
    <img src="/assets/images/o.PNG" alt="Logo" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" routerLink=""
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active" routerLink="tech">Technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active" routerLink="science">Science</a>
        </li>
         <li class="nav-item">
          <a class="nav-link mx-2 active" routerLink="business">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active" routerLink="sport">Sport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active" routerLink="entertainment">Entertainment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active" routerLink="health">Health</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
